
<div class="container">
  <h1 class="bookings-title">My Bookings</h1>
    <div class="bookings">
      <% @bookings.each do |booking| %>
        <% nights = (booking.end_date - booking.start_date).to_i %>
        <div class="card-product">
          <% if booking.place.photos.attached? %>
            <img src=<%= cl_image_path booking.place.photos.first.key, height: 300, crop: :fill  %> />
          <% else %>
            <%= image_tag("dark_carousel_2.png") %>
          <% end %>
          <div class="card-product-infos">
            <h2><%= link_to booking.place.name, place_path(booking.place), class:"text-decoration-none" %></h2>
            <p><i class="fa-solid fa-location-dot"></i> <%= booking.place.location %></p>
            <p><%= nights %> Night<%= "s" if nights > 1 %> - From <%= booking.start_date %> to <%= booking.end_date %></p>
            <p><i class="fa-solid fa-users"></i> <%= booking.number_of_people %> guests</p>
            <p class="pricebooking"><strong><i class="fa-solid fa-tag"></i> <%= number_to_currency(booking.total_price.to_i) %></strong></p>
          </div>
          <div class="card-product-actions d-flex flex-column">
            <%= link_to edit_booking_path(booking), class:'btn btn-cancel m-1' do %><i class="fa-solid fa-pencil"></i> Edit<% end %>
            <%= link_to booking_path(booking),
            data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to cancel?"}, class:'btn btn-cancel m-1' do %><i class="fa-solid fa-ban"></i> Cancel<% end %>
          </div>
        </div>
      <% end %>
    </div>
</div>
