<h1>New booking</h1>
<%= simple_form_for [@place, @booking] do |f| %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.input :number_of_people %>
  <%= f.submit "Submit review", class: "btn btn-primary" %>
<% end %>
