<div class="container mt-4 mb-4">
  <h1 style="text-align: center;">EPIC PARTY PLACES</h1>

  <%= form_with url: places_path, method: :get, class: "d-flex" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control", id:"search",
    placeholder: "Find your next epic party venue!"
  %>
  <%= submit_tag "Let's Party!", class: "btn btn-ghost-search" %>
  <% end %>
</div>

<div class="d-flex m-1">
  <div class="container m-1 d-flex justify-content-center align-content-between flex-wrap">
    <% @places.each do |place| %>
      <%= link_to place_path(place), class:"text-decoration-none" do %>
        <div class="card-trip">
          <% if place.photos.attached? %>
            <img src="<%= cl_image_path place.photos.first.key, height: 300, crop: :fill %>">
          <% else %>
            <%= image_tag("dark_carousel_2.png") %>
          <% end %>
          <div class="card-trip-infos">
            <div>
              <h2><%= place.name %></h2>
              <p><i class="fa-solid fa-location-dot"></i> <%= place.location %></p>
              <p><i class="fa-solid fa-users"></i> <%= place.capacity %></p>
              <p class="price"><strong><i class="fa-solid fa-tag"></i> <%= place.price %> €/night </strong></p>
            </div>
            <div class="icons">
              <%= link_to edit_place_path(place.id) do %><i class="fa-solid fa-pencil"></i><% end %>
              <%= link_to place_path(place), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete?"} do %><i class="fa-solid fa-trash-can"></i><% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <div id="map" style="width: 50%; height: 800px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
