<div class="container mt-4">
  <h1>EPIC PARTY PLACES</h1>


  <% @places.each do |place| %>
    <div class="card-category"
    style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path place.photos.first.key, height: 300, crop: :fill %>')">
      <div class="icons">
        <%= link_to edit_place_path(place.id) do %><i class="fa-solid fa-pencil"></i><% end %>
        <%= link_to place_path(place), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete?"} do %><i class="fa-solid fa-trash-can"></i><% end %>
      </div>
      <h2><%= link_to place.name, place_path(place.id) %></h2>
    <% end %>
  </div>
  <%= link_to new_place_path, class:'mt-5 btn btn-light btn-sm border' do %><i class="fa-solid fa-circle-plus"></i> Create new venue<% end %>
</div>
